In [2]:
import sqlite3

In [3]:
# 5 steps to interact with database
    # Connect to database
    # Create a cursor object
    # Write an SQL query
    # Commit changes
    # close database connection

In [16]:
conn=sqlite3.connect("lite.db")

In [17]:
cur=conn.cursor()

In [12]:
cur.execute("CREATE TABLE store (item TEXT, quantity INTEGER, price REAL)")

ProgrammingError: Cannot operate on a closed database.

In [18]:
cur.execute("INSERT INTO store VALUES ('wine glass',8,10.5)")

In [19]:
conn.commit()

In [20]:
conn.close()

In [45]:
def create_table():
    conn=sqlite3.connect("lite.db")
    cur=conn.cursor()
    cur.execute("CREATE TABLE store (item TEXT, quantity INTEGER, price REAL)")
    conn.commit()
    conn.close()
    
def insert(item,quantity,price):
    conn=sqlite3.connect("lite.db")
    cur=conn.cursor()
    cur.execute("INSERT INTO store VALUES (?,?,?)",(item,quantity,price))
    conn.commit()
    conn.close()
    
def view():
    conn=sqlite3.connect("lite.db")
    cur=conn.cursor()
    cur.execute("select * from store")
    rows=cur.fetchall()
    conn.close()
    return rows

def delete(item):
    conn=sqlite3.connect("lite.db")
    cur=conn.cursor()
    cur.execute("delete from store where item=?",(item,))
    conn.commit()
    conn.close()
    
    
def update(quantity,price,item):
    conn=sqlite3.connect("lite.db")
    cur=conn.cursor()
    cur.execute("update store set quantity=?, price=? where item=?",(quantity,price,item))
    conn.commit()
    conn.close()


#delete("wine glass")
update(12,6,"Water glass")
#insert("wine glass",10,5)
print(view())

[('coffee cup', 10, 5.0), ('coffee cup', 10, 5.0), ('coffee cup', 10, 5.0), ('coffee cup', 10, 5.0), ('coffee cup', 10, 5.0), ('coffee cup', 10, 5.0), ('coffee cup', 10, 5.0), ('Water glass', 12, 6.0)]

In [ ]:
import pyscopg2


def create_table():
    conn=pyscopg2.connect("dbname='database1' user='postgre' password='postgre123' host='localhost' port='5432'")
    cur=conn.cursor()
    cur.execute("CREATE TABLE store (item TEXT, quantity INTEGER, price REAL)")
    conn.commit()
    conn.close()
    
def insert(item,quantity,price):
    conn=pyscopg2.connect("dbname='database1' user='postgre' password='postgre123' host='localhost' port='5432'")
    cur=conn.cursor()
    cur.execute("INSERT INTO store VALUES (%s,%s,%s)",(item,quantity,price))
    conn.commit()
    conn.close()
    
def view():
    conn=pyscopg2.connect("dbname='database1' user='postgre' password='postgre123' host='localhost' port='5432'")
    cur=conn.cursor()
    cur.execute("select * from store")
    rows=cur.fetchall()
    conn.close()
    return rows

def delete(item):
    conn=pyscopg2.connect(dbname='database1' user='postgre' password='postgre123' host='localhost' port='5432'")
    cur=conn.cursor()
    cur.execute("delete from store where item=%s",(item,))
    conn.commit()
    conn.close()
    
    
def update(quantity,price,item):
    conn=pyscopg2.connect("dbname='database1' user='postgre' password='postgre123' host='localhost' port='5432'")
    cur=conn.cursor()
    cur.execute("update store set quantity=%s, price=%s where item=%s",(quantity,price,item))
    conn.commit()
    conn.close()


#delete("wine glass")
#update(12,6,"Water glass")
#insert("wine glass",10,5)
#print(view())